.devsnorte-svg {
  width: 100%;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  stroke: none;
  animation: devsnorte-animation 2s 1s ease-in-out alternate forwards;
}

@keyframes devsnorte-animation {
  0% {
    stroke-dashoffset: 600;
    fill-opacity: 0;
    stroke: #fff;
  }
  50% {
    fill-opacity: 0;
  }
  70%,
  99%,
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

.star {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}
